<robot>


<link name="mount_base"/>

  <joint name="mount_base_joint" type="fixed">
    <origin xyz="0 -0.01 0.395" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="mount_base" />
  </joint>


<link name="rs_lidar"/>

  <joint name="rs_lidar_joint" type="fixed">
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <parent link="mount_base" />
    <child link="rs_lidar" />
  </joint>


<link name="lidar"/>

  <joint name="lidar_centre_joint" type="fixed">
    <origin xyz="0 0 0.04536" rpy="0 0 0" />
    <parent link="rs_lidar" />
    <child link="lidar" />
</joint>
<link name="rslidar"/>

  <joint name="rs_lidar_centre_joint" type="fixed">
    <origin xyz="0 0 0.04536" rpy="0 0 0" />
    <parent link="rs_lidar" />
    <child link="rslidar" />
  </joint>

<link name="cam1_base"/>

  <joint name="cam1_base_joint" type="fixed">
    <origin xyz="0.0502 0.0365 -0.006" rpy="0.942478 -1.5708 3.1416" />
    <parent link="mount_base" />
    <child link="cam1_base" />
  </joint>
  <link name="cam2_base"/>

  <joint name="cam2_base_joint" type="fixed">
    <origin xyz="0.0502 -0.0365 -0.006" rpy="5.34071 -1.5708 3.1416" />
    <parent link="mount_base" />
    <child link="cam2_base" />
  </joint>


<!-- This file is a placeholder which is included by default from
       husky.urdf.xacro. If a robot is being customized and requires
       additional URDF, set the HUSKY_URDF_EXTRAS environment variable
       to the full path of the file you would like included. -->
</robot>
